# common
# conda
aiohttp
beautifulsoup4
requests
pyrogram
uvloop; sys_platform != 'win32'

# openai
# conda
openai>=1.0.0

# google
# conda
# google-auth
# google-api-core
# colorama
# grpcio-status
# proto-plus

# pip
# google-generativeai

# conda
# nomkl
